body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    height: 60%;
    /* Added height for vertical centering */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: box-shadow 0.3s, transform 0.3s;
}

/* .container:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
} */

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s;
}

input[type="text"]:focus {
    border: 1px solid #007BFF;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    font-size: 18px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
}

li:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.005);
}

.delete {
    color: red;
    cursor: pointer;
    transition: color 0.3s;
}

.delete:hover {
    color: #d9534f;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.edit {
    margin-right: 10px;
    color: #007BFF;
    cursor: pointer;
    transition: color 0.3s;
}

.edit:hover {
    color: #0056b3;
}